.card{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

label{
    width: max-content;
    color: tomato;
    font-size: 13px;
    border-bottom: 1px solid tomato;
    margin-top: 3px;
}

.place,.review{
    margin-top: 4px;
    margin-bottom: 3px;
}

.star{
    color: gold;
}